header {
  display: flex;
  flex-direction: row;
  gap: 15px;
  max-width: fit-content;
  // border-bottom: 2px solid #f2f2f2;
  padding: 10px 20px; /* Adicionando padding para a cápsula ter um espaço ao redor do conteúdo */
  background-color: #eec290; /* Cor de fundo opcional para a cápsula */
  border-radius: 50px; /* Arredondando os cantos para criar o efeito cápsula */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  }

  header:hover {
    background-color: #f1cba1; /* Cor de fundo ao passar o cursor */
    transform: scale(1.02); /* Pequeno aumento de escala */
  }

  .header__logo {
    min-width: 60px; 
    max-width: 60px;
    min-height: 60px; 
    max-height: 60px;
  }

  .nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .nav__item {
    margin: 0 15px;
  }

  .nav__link {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
  }

  .nav__link:hover {
    color: #eab275;
    transform: scale(1.1);
  }

  .header__social {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .social__icon {
    font-size: 24px;
    color: #f2f2f2;
    transition: transform 0.3s ease-in-out, opacity 0.3s;
  }
  
  .social__icon:hover {
    transform: scale(1.2);
    opacity: 0.8;
    color: #eab275;
  }