<section class="landing">
    <app-diamonds-background></app-diamonds-background>
    <div class="landing__content">
      <!-- Left Side (Portrait) -->
      <div class="landing__portrait">
        <img src="assets/images/myself.jpeg" alt="Portrait" class="landing__portrait-img" />
      </div>
  
      <!-- Right Side (Dynamic Text) -->
      <div class="landing__text">
        <h1 class="landing__title">Welcome to My Portfolio</h1>
        <p class="landing__dynamic-text" id="dynamic-text"></p>
      </div>
    </div>
  </section>
  