.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;  
  }
  
  /* Content Section */
  .landing__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
  }
  
  .landing__portrait {
    flex: 1;
    padding: 10px;
  }
  
  .landing__portrait-img {
    width: auto;
    max-width: 350px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .landing__text {
    flex: 2;
    justify-content: flex-start;
    padding: 20px;
    color: #f2f2f2;
  }
  
  .landing__title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .landing__dynamic-text {
    font-size: 1.5rem;
    font-weight: normal;
    color: #f2f2f2;
    opacity: 0;
    animation: typeAnimation 4s steps(40) 1s forwards;
  }
  
  @keyframes typeAnimation {
    from {
      width: 0;
      opacity: 1;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }
  